div{
    margin-left: 10px;
    margin-right: 10px;
}
body{
    font-family:'Heebo', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height:100vh;
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace
}
.navbar{
    
    background-color: #fff;
}
.dropdown{
    background-color: #fff;
}
.navbar ul{
    display: flex;
    justify-content: right; 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-weight: 600;
    margin-right: 50px;
}
.navbar a{
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    color: #000000;
}
.navbar a:hover{
    color: #FF8266;
}


ul li ul.dropdown{
    position: absolute;
    display: none;
    
}
ul li:hover ul.dropdown{
    display: block;
}

.slogan{
    text-align: center;
    font-size: 45px;
    color:#000000;
    font-weight: 600;
    margin-top: -50px;
}

.title{
    margin-top: 250px;
    text-align: center;
    font-size: 55px;
    color: #000000;
    font-weight: 800;
}

.container{
    margin-top: 10px;
}
.btn-box a {
    margin-left: 730px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: auto;
    background: #FF8266;
    border: 2px solid #FF8266;
    border-radius: 8px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
