div{
    margin-left: 10px;
    margin-right: 10px;
}
body{
    font-family:'Heebo', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height:100vh;
}

.navbar{    
    background-color: #fff;
}
.dropdown{
    background-color: #fff;
}
.navbar ul{
    display: flex;
    justify-content: right; 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-weight:600;
    margin-right: 50px;
}
.navbar a{
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    color: #000000;
}
.navbar a:hover{
    color: #FF8266;
}


ul li ul.dropdown{
    position: absolute;
    display: none;
    
}
ul li:hover ul.dropdown{
    display: block;
}

.title{
    margin-top: 70px;
    text-align: center;
    font-size: 55px;
    color: #fff;
    font-weight: 800;
}


.container2 {
    width:100%;
}

.bd {
    max-width:100%;
    border-collapse: collapse;
    margin-left:100px;
    font-size: 25px;
    text-align: justify;
}

.bd td {
    padding: 17px;
    font-weight: bold;
    color: #fff;
}




